<h3>Style Model Uploads</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @uploads.each do |upload| %> 
      <tr>
        <td><%= link_to 'Show', posts_path(upload.post) %>|</td>
        <td><%= link_to 'Edit', edit_post_upload_path([upload.post.id, upload.id] ) %>|</td>
        <td><%= link_to 'Destroy', post_upload_path([upload.post.id, upload.id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Style Models', new_post_upload_path %>